<!DOCTYPE html>
<html>

<head>
    <title>Image Upload Form</title>
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>

    <link href="{{ url_for('static',filename='iids-1.0.0/dist/css/iids.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static',filename='iids-1.0.0/dist/css/responsive.css') }}" rel="stylesheet" type="text/css">
    <script type="text/javascript">
        function submitForm() {
            console.log("submit event");
            //alert("sdkjhskdh");
            var fd = new FormData(document.getElementById("fileinfo"));
            //fd.append("label", "WEBUPLOAD");
            fd.append("detectionType", $('#detectionSelect').val());
            $.ajax({
                url: "upload",
                type: "POST",
                data: fd,
                processData: false, // tell jQuery not to process the data
                contentType: false // tell jQuery not to set contentType
            }).done(function(data) {
                console.log("PHP Output:");
                console.log(data);
                //alert(data);

                resultObj = JSON.parse(data)
                var originalImage = resultObj.original;
                var analyzedImage = resultObj.analyzed;
                var facingsData = resultObj.results;

                $('#originalImage').attr('src', originalImage);
                $('#analyzedImage').attr('src', analyzedImage);

                var str = '';
                str += "<table border='1'>";
                str += "<tr><th>Brand</th><th>Facings</th></tr>";
                if (facingsData.pampers_packet != undefined)
                    str += "<tr><td>Pampers Packet</td><td>" + facingsData.pampers_packet + "</td></tr>";
                if (facingsData.pampers_logo != undefined)
                    str += "<tr><td>Pampers Logo</td><td>" + facingsData.pampers_logo + "</td></tr>";

                if (facingsData.whisper_packet != undefined)
                    str += "<tr><td>Whisper</td><td>" + facingsData.whisper_packet + "</td></tr>";
                if (facingsData.panteen != undefined)
                    str += "<tr><td>Pantene</td><td>" + facingsData.panteen + "</td></tr>";
                if (facingsData.hns_bottle != undefined)
                    str += "<tr><td>H&S</td><td>" + facingsData.hns_bottle + "</td></tr>";
                else {
                    if (facingsData.hns_bottle_orange != undefined)
                        str += "<tr><td>H&S Orange</td><td>" + facingsData.hns_bottle_orange + "</td></tr>";
                    if (facingsData.hns_bottle_yellow != undefined)
                        str += "<tr><td>H&S Yellow</td><td>" + facingsData.hns_bottle_yellow + "</td></tr>";
                    if (facingsData.hns_bottle_pink != undefined)
                        str += "<tr><td>H&S Pink</td><td>" + facingsData.hns_bottle_pink + "</td></tr>";
                    if (facingsData.hns_bottle_black != undefined)
                        str += "<tr><td>H&S Black</td><td>" + facingsData.hns_bottle_black + "</td></tr>";
                    if (facingsData.hns_bottle_green != undefined)
                        str += "<tr><td>H&S Green</td><td>" + facingsData.hns_bottle_green + "</td></tr>";

                }
                str += "</table>";

                $('#detectionTable').html(str);


                // $('#originalImage').attr('src', 'data:image/png;' + data)
            });
            return false;
        }
    </script>
</head>



<div class="navbar navbar-static-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#"><span class=""></span> <span>Image Analytics Demo <small><i>powered by</i> 35 Hawk</small></span></a>
            <div class="pull-right">
                <div class="btn-toolbar pull-left">
                    <div class="btn-group">
                    </div>

                </div>
            </div>
        </div>
        <div class="primary-navbar nav-collapse">
            <div class="container">
                <ul class="nav">
                    <li class="active"><a href="#">Dashboard</a></li>
                </ul>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="page-header">
        </div>
        <div class="row">
            <section class="module span12">
                <h3>Inputs</h3>
                <form method="post" class="form-inline" id="fileinfo" name="fileinfo" onsubmit="return submitForm();">
                    <label><b>Select a file:</b></label>
                    <input type="file" name="photo" required />

                    <label><b>Select the type of detection</b></label>
                    <select id="detectionSelect">
                        <option value="SKU" selected>SKU level Detection</option>
                        <option value="BRAND">Brand level Detection</option>                        
                    </select>

                    <!--<button type="submit" value="Analyze" class="btn btn-success" />-->
                    <input type="submit" id="applyFilters" class="btn-success" value="Analyse"></input>
                </form>
                <!-- min: <input type="radio" name="resolution" /><br /> hour: <input type="radio" name="resolution" /><br /> -->


                <!-- <button id="applyMulitpleFilters">loadMultipleSeries</button> -->
            </section>
        </div>
        <div class="row">
            <section class="module span6 actionable scrollable">
                <header class="module-header">
                    <h3 class="voice voice-brand pull-left"><b>Original</h3>
                    <div id="progressDataSummary" style="margin-top:15px;color:#bf0000;text-align:left;display:none;">
                        <!--<img alt="Please Wait..." src="{{ url_for('static',filename='images/small.gif') }}" />-->
                        <p id="progressDataSummaryText">Fetching Results</p>
                    </div>
                </header>
                <footer class="module-footer">
                    <span id="profileTime" class="highlightedText"></span>
                </footer>
                <div class="module-body">
                    <img id="originalImage" />
                </div>

            </section>
            <section class="module span6 actionable scrollable">
                <header class="module-header">
                    <h3 class="voice voice-brand pull-left">Analyzed</h3>
                    <div id="progressDataSummary" style="margin-top:15px;color:#bf0000;text-align:left;display:none;">
                        <!--<img alt="Please Wait..." src="{{ url_for('static',filename='images/small.gif') }}" />-->
                        <p id="progressDataSummaryText">Fetching Results</p>
                    </div>
                </header>
                <footer class="module-footer">
                    <span id="profileTime" class="highlightedText"></span>
                </footer>
                <div class="module-body">
                    <img id="analyzedImage" />
                </div>

            </section>


        </div>
        <div class="row">
            <section class="module span12">
                <header class="module-header">
                    <h3 class="voice voice-brand pull-left">Detections</h3>
                    <div id="progressDataSummary" style="margin-top:15px;color:#bf0000;text-align:left;display:none;">
                        <!--<img alt="Please Wait..." src="{{ url_for('static',filename='images/small.gif') }}" />-->
                        <p id="progressDataSummaryText">Fetching Results</p>
                    </div>
                </header>

                <div class="module-body">
                    <span id="detectionTable"></span>
                </div>



            </section>
        </div>



    </div>

</html>